/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
}
.tempDiv {
  position: relative;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.actionsBtn {
  margin-top: 5px;
}

.actionMenu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 1;
}

.actionMenu button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
} */
.popup{
  /* position: absolute;
  width: 200px;
  height: 200px; */
  background-color: white;
  color: black;
  /* border: black solid 2px; */
} 
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #4caf50;
  padding: 10px;
  text-align: right;
}

header button {
  background-color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

main {
  padding: 20px;
}

.formZone {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.meinFolder {
  display: none;
}

.meinFolder h1 {
  margin-bottom: 20px;
}

.meinFolder .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.tempDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.tempDiv .name {
  margin-bottom: 10px;
}

.file_actions,
.folder_actions {
  display: none;
  border: 1px solid #ccc;

}

.file_actions button,
.folder_actions button {
  margin: 5px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.backButton  {
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.uploadBtn{
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
